*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e9ecef;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

span{
    display: inline-block;
    position: relative;
    z-index: 2;
}

.azul{
    background-color: blue;
    height: 130px;
    background-image: linear-gradient(135deg, blue, #6610f2);
    

    
}

.header{
    position: relative;
}

img{
    width: 120px;
    height: 120px;
    margin: -60px 0px 10px 0px;
    text-align: center;
    border-radius: 100px;
    border: 3px solid black ;
    object-fit: cover;
}

h3{
    font-size: 15px;
    margin-top: 10px;
}

.card{
    margin: 20px auto;
    width: 500px;
    height: 700px;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 4px 6px ;
    overflow: hidden;
    
}

.card h2{
    color: black;
    margin-top: 20px;
}

.card p{
    color: gray;
    margin: 20px;
}

.desctec{
    color: black;
    display: inline;
    margin: 0 5px;
    font-weight: bold;
    background-color: cornflowerblue;
    padding: 5px 10px;
    border-radius: 10px;
}

div .tecnologias
{
    margin: 50px;
}

div .redeSociais{
    margin: 20px;
    background-color: aliceblue;
    padding: 30px;
    border: 2px  gray;
    border-radius: 10px;
    text-decoration: none;
}


.redeSocial{
    align-items: center;
    padding: 20px;
    color: black;
    display: inline;
    font-weight: bold;
    
}

.inforede{
    display: inline-block;
    width: 100px;
    align-items: center;
}

.descred{
   display: block;;  
   align-items: center;  
}


.card .btn{
     width: 220px;
     height: 50px ;
     margin-top: 10px;
     margin-right: 4%;
     background-color: blue;
     border-radius: 10px;
     display: inline;
     align-items: center;
     transition: background 0.5s;
     text-decoration: none;
     border: 2px solid white;
     color: white;
     font-weight: bold;
}

.btn2{
    background-color: white;
     width: 220px;
     height: 50px ;
     border-radius: 10px;
     font-weight: bold;
     display: inline;
     align-items: center;
     transition: background 0.5s;
     text-decoration: none;
     border: 1px solid black;
}


span{
    color: black;
    font-weight: 400;

}

.btn:hover{
    background-color: black;
}